.carousellarrow {

    $header_height: 52px;

    &__left, &__right {
        position: absolute;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0.25);
        height: calc(454px - $header_height);
        bottom: 0px;
        z-index: 3;
        cursor: pointer;;
        padding: 0 10px;
        display: flex;
        align-items: center;
        
        .longbracket_svg {
            position: relative;
            vertical-align: middle;
            height: 90px;
            width: 43px;
            margin: auto;
            &__polygon {
                fill: #ffffff6a;
            }
            &__path {
                stroke: #ffffff6a;  
            }
        }
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.35);
            .longbracket_svg__polygon {
                fill: #ffffffe0;
            }
            .longbracket_svg__path {
                stroke: #ffffffe0;
            }
    }
    }
    &__left {
        left: -13px;
    }
    &__right {
        right: -13px;
        transform: scaleX(-1);
    }
}