.carousell__item {
    font-size: 38px;

    .carousell-item__header {
        background-color: #ffffff49;
        position: relative;
        display: block;
        height: 52px;
        $full-arrow-width: 50px;
        width: 100%;
        margin: 0 auto -52px auto;
        line-height: 52px;
        text-align: center;
        font-size: 40px;
        z-index: 5;
    
        &--title {
    
        }
        &--slide_id {
    
        }

        p {
            margin: 0;
        }
    }
}