.carousell {

    &__fixed {
        position: absolute;
        display: block;
        width: 100%;
        height: fit-content;
        bottom: 0;
        left: 0;
    }
    
    &__moving {
        position: absolute;
        display: block;
        width: 100%;
        height: fit-content;
        top: 0;
        left: 0;
    }

    $color_primary: #FF7171;
    $color_secondary: #FFFFFF;
    $color_tertiary: #484848;
    color: $color_secondary;
    
    position: relative;
    display: block;
    width:800px;
    margin: auto;
    height: 454px;
    user-select: none;
    
    &__items {
        background-color: $color_primary;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        flex-direction: row;
        width: 100%;
        height: 454px;
        
        .carousell__item {
            position: relative;
            width: 800px;
            height: 454px;

            img {
                position: relative;
                width: 800px;
                height: auto;
            }
        }
    }
}