body {
    margin: 0;
}

.page {
    $color_primary: #FF7171;
    $color_secondary: #F8F8F8;
    $color_tertiary: #484848;
    $main-offset-height: 75px + 120px + 80px;
    font-family: Truculenta-Dirty;
    font-size: 32px;

    .header {
        position: relative;
        height: auto;
        background-color: $color_primary;
        color: $color_secondary;
        user-select: none;
        cursor: default;
        height: 75px;;
        h1 {
            padding: 20px;
            margin: 0;
            font-family: Shojumaru-Regular;
            font-size: 32px;
            text-align: center;
        }
    }
    
    .main {
        position: relative;
        min-height: calc(100vH - $main-offset-height);
        padding: 40px;
    }
 
    .footer {
        position: relative;
        user-select: none;
        cursor: default;
        display: flex;
        height: 120px;
        width: 100%;
        background-color: $color_tertiary;
        color: $color_secondary;
        &__headline {
            margin: 14px auto 0 auto;
            font-size: 52px;
            text-align: center;
        }
    }
}