@font-face {
    font-family: Truculenta-Regular;
    src: url("./components/Page/assets/fonts//Truculenta/Truculenta-Regular.ttf");
}
@font-face {
    font-family: Truculenta-Bold;
    src: url("./components/Page/assets/fonts//Truculenta/Truculenta-Bold.ttf");
}
@font-face {
    font-family: Truculenta-Thin;
    src: url("./components/Page/assets/fonts//Truculenta/Truculenta-Thin.ttf");
}
@font-face {
    font-family: Truculenta-Dirty;
    src: url("./components/Page/assets/fonts//Truculenta/Truculenta-Dirty.ttf");
}
@font-face {
    font-family: Shojumaru-Regular;
    src: url("./components/Page/assets/fonts/Shojumaru/Shojumaru-Regular.ttf");
}