.carousell__navbar {
    position: relative;
    display: block;
    
    &__navitem {
        background-color: #ffffff4d;
        position: relative;
        display: block;
        width: 87px;
        height: 31px;
    }
}